body{
    background-color: black;
    color:#276de3;
    padding:20px;
    font-size:18px;
}
.home{border: 3px solid #276de3;border-radius: 5px;text-align:center;}
a{text-decoration: none;color:#276de3}
a:hover{color:black !important;}
.vrt{color:#276de3}
.btn-outline-secondary{border-color:#276de3}
.btn-outline-secondary:hover{border-color:black}
.vrt:hover{background-color:#276de3;color:black}
